doctype html
html(lang="en")
  include partials/head.pug
  +head("Starter MVP")
  body
    header
      include partials/navbar.pug
      +navbar()
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1.mb-3 Sales Collection Landing Page
            p.lead This web application is built with NodeJS, Postgres, Sequelize, Express and Pug
            form(action="/", method="post")
              .input-group.mb-3
                input(name="lead_email", type="email", placeholder="Enter your email address").form-control
                .input-group-append
                  button(type="submit").btn.btn-primary Get Started
        .row
          .col-md-6
            if leads
              h1 Leads
              table.table
                thead
                  tr
                    th(scope="col") Email
                    th(scope="col") Actions
                    th(scope="col")
                  tr
                tbody 
                  for lead in leads
                      tr(id=lead.id) 
                        td
                          span #{lead.email}
                        td
                          a(href="/lead/" + lead.id) Details
                        td
                          button(onclick=`deleteLead('${lead.id}')`).btn.btn-danger Delete
        include partials/footer.pug
        +footer()
