doctype html
html(lang="en")
  include partials/head.pug
  +head("Starter MVP")
  body
    header
      include partials/navbar.pug
      +navbar(user)
      .jumbotron 
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1.mb-3 Sales Collection Landing Page
            p.lead This web application is built with NodeJS, Postgres, Sequelize, Express and Pug
            form(action="/", method="post")
              .input-group.mb-3
                input(name="lead_email", type="email", placeholder="Enter your email address").form-control
                .input-group-append
                  button(type="submit").btn.btn-primary Get Started
        include partials/footer.pug
        +footer()
