doctype html
html(lang="en")
  include ../partials/head.pug
  +head("Edit Lead")
  body
    header
      include ../partials/navbar.pug
      +navbar()
      .container
        .row
          .col-sm-12.offset-md-2.col-md-8
            .jumbotron
                h2.text-center Login
                .row
                    .col-sm-12.col-md-12
                        form(action="/login", method="post")
                          div.form-group
                            label.small.mb-1.mt-3 Email:
                            input(placeholder="Enter your email" type="email", name="email", value="", required=true).form-control
                            label.small.mb-1.mt-3 Password:
                            input(placeholder="Enter your password" type="password", name="password", value="", required=true).form-control
                            button(type="submit").mt-3.btn.btn-primary Log in
                            p.mt-2.mb-0
                              | Forgot your password? #[a(href="#") Reset here].
                            p.m-0
                              | Don't have an account? #[a(href="/signup") Sign up here].
                            
    include ../partials/footer.pug
    +footer()