doctype html
html(lang="en")
  include ../partials/head.pug
  +head("Edit Lead")
  body
    header
      include ../partials/navbar.pug
      +navbar()
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1 Edit Lead
            form(action="/lead/" + lead.id + "/edit", method="post")
              .input-group.mb-3
                input(type="email", name="lead_email", placeholder="Enter your email address", value=lead.email)
                .form-control
                .input-group-append
                  button(type="submit").btn.btn-primary Save
    include ../partials/footer.pug
    +footer()